body {
    /* navegadores sin soporte */
    /*background: black url(images/cabecera_degradado.jpg) repeat-x;
    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(black));
    /* Safari 5.1+, Chrome 10+ */
	/*background-image:url('images/motos.jpg');
    /*background: -webkit-linear-gradient(top, #eaeaea, white);
    /* Firefox 3.6+ */
    /*background: -moz-linear-gradient(top, black, white);
    /* Opera 11.10+ */
    /*background: -o-linear-background(top, black, white);
    /* IE 10 */
    /*background: -ms-linear-background(top, black, white);
    /* estándar */
    /*background: linear-background(top, black, white); */
	background:url(images/250b&w.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	}
* { margin: 0; padding: 0; }
		
#page-wrap { width: 550px; margin: 50px auto; padding: 20px; background:rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; }

h1{font-family:"Arial";font-size:24px;color:white;text-align:left;text-shadow: 1px 1px 4px black}
h2{font-family:"Arial";font-size:20px;color:#ababab;text-align:left;padding:5}
p{font-family:"Cambria";color:#ababab;font-size:16px; padding: 10}
table{font-family:"Cambria";color:#ababab;font-size:16px;}
a{font-family:"Cambria";color:#ababab;font-size:16px;color:green}
li{font-family:"Cambria";color:#ababab;font-size:16px;}

.ListTable { width:550px;border-collapse:collapse;background-color:#98FB98; }
.ListTable td, .ListTable th { border:2px solid #47ae32;padding:5px; }
.ListTable th { font:bold 14px/1.1em Arial, Helvetica, sans-serif;text-shadow: 1px 1px 4px black; letter-spacing:0.2em; background-color:#47ae32; color:#98FB98; }
.ListTable td { font:normal 12px/1.5em Goudy, Georgia, serif;color:#47ae32; }
.ListTable td a { color:#006400;text-decoration:none; }
.ListTable td a:hover { color:#FF4500;text-decoration:underline; }
.ListTable td a:visited { color:#006400; }

.Header {width:7000px;border-collapse:collapse;background-color:#98FB98; }
.Header td, .Header th { border:2px solid #47ae32;padding:5px; }
.Header th {text-shadow: 1px 1px 2px black; background-color:#47ae32; color:#98FB98; text-align:left;}
.Header th a {font-family:Tahoma; font-size:20px; color:#98FB98;text-decoration:none; }
.Header th a:hover { color:#98FB98;text-decoration:none; }
.Header th a:visited { color:#98FB98; }

button.normal{
    color:#98FB98;
	background-color: #47ae32;
	padding:7px 15px 7px 15px;
}
.buttons a.normal:hover, button.normal:hover{
    background-color:#98FB98;
    border:1px solid #47ae32;
    color:#47ae32;
}
.buttons a.normal:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}